DATABASE_URL=postgresql://postgres:YOUR_POSTGRES_PASSWORD@localhost:5432/bnb_event_planners

ADMIN_EMAIL=adminbnb@gmail.com
ADMIN_PASSWORD=YOUR_ADMIN_PASSWORD

SECRET_KEY=YOUR_SECRET_KEY

UPLOAD_FOLDER=uploads
FRONTEND_URL=http://localhost:5173
